@import url("https://use.typekit.net/gep0rja.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'europa', sans-serif;
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'europa', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin-top: 0;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  background: rgba(255,255,255, 0.9);
  z-index: 9999;
  position: fixed;
}

.navbar .brand span {
  font-weight: 700;
  color: #000;
  font-size: 25px;
  line-height: 1;
  font-family: 'shelby', cursive;
}

.navbar .brand {
  transition: all 150ms ease-in-out;
}

.navbar .brand:hover {
  text-decoration: none;
  opacity: 0.7;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-image: url('../images/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48,48,48,0.5);
}

.hero span {
  font-size: 5rem;
  font-family: 'shelby', cursive;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 1;
}

#fullpage {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* .section {
  max-width: 600px;
  margin: auto;
} */
