@import url("https://use.typekit.net/gep0rja.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'europa', sans-serif;
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'europa', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin: 0;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  background: rgba(255,255,255, 0.9);
  z-index: 9999;
  position: fixed;
}

.navbar .brand span {
  font-weight: 700;
  color: #000;
  font-size: 16px;
  line-height: 1;
}

.navbar .brand {
  transition: all 150ms ease-in-out;
}

.navbar .brand:hover {
  text-decoration: none;
  opacity: 0.7;
}

.section {
  max-width: 600px;
  margin: auto;
}
